# Large GTEx data files
GTEx_Gene_Exp_Analysis/tpm_gct.dat
GTEx_Gene_Exp_Analysis/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct.gz
GTEx_Gene_Exp_Analysis/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_reads.gct.gz
GTEx_Gene_Exp_Analysis/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_reads.gct.gz
GTEx_Gene_Exp_Analysis/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct.gz
GTEx_Gene_Exp_Analysis/GTEx_Analysis_v8_Annotations_SampleAttributesDD.xlsx
GTEx_Gene_Exp_Analysis/GTEx_Analysis_v8_Annotations_SampleAttributesDS.txt
GTEx_Gene_Exp_Analysis/GTEx_Analysis_v8_Annotations_SubjectPhenotypesDD.xlsx
GTEx_Gene_Exp_Analysis/GTEx_Analysis_v8_Annotations_SubjectPhenotypesDS.txt