# Large GTEx data files
NetworkAnalysis/tpm_gct.dat
NetworkAnalysis/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct.gz
NetworkAnalysis/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_reads.gct.gz
